<div class="-m-6 relative flex flex-auto max-w-120 flex-col md:min-w-120">
    <!-- Header -->
    <div class="flex h-16 flex-0 items-center justify-between bg-primary pr-3 pl-6 text-on-primary sm:pr-5 sm:pl-8">
        <div class="text-lg font-medium">Create a new recipe generated list</div>
        <button mat-icon-button matTooltip="Close" (click)="close()" [tabIndex]="-1" [disabled]="form.disabled">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form class="flex-auto p-6 sm:p-8" (ngSubmit)="save()" [formGroup]="form">
        <div class="flex items-center">
            <mat-form-field class="flex-auto">
                <mat-label>Name</mat-label>
                <input matInput [formControlName]="'name'" />
                <mat-error *ngIf="form.get('name').hasError('required')">
                    Name is required
                </mat-error>
            </mat-form-field>
            <div class="flex-auto ml-4 text-end">
                <span class="text-2xl font-bold tracking-tight leading-none">{{ combinationsCount$ | async | number:'1.0' }}</span> recipes
            </div>
        </div>

        <div class="flex">
            <mat-form-field class="flex-auto">
                <mat-label>Banned ingredient lists</mat-label>
                <mat-select multiple="true" [formControlName]="'banned_ingredient_lists'">
                    <mat-select-trigger>
                        <span *ngIf="form.get('banned_ingredient_lists').valueChanges | async; let lists">
                            {{ lists.join(', ') }}
                        </span>
                    </mat-select-trigger>
                    <mat-option>
                        <ngx-mat-select-search
                                noEntriesFoundLabel="No matching lists found"
                                placeholderLabel="Type to search"
                                [clearSearchInput]="true"
                                [enableClearOnEscapePressed]="true"
                                [disableScrollToActiveOnOptionsChanged]="true"
                                [formControl]="searchIngredientsCtrl"
                        ></ngx-mat-select-search>
                    </mat-option>
                    <mat-option
                            *ngFor="let list of bannedIngredientLists$ | async; trackBy: trackByFn"
                            [value]="list.name"
                    >
                        {{list.name}} <small>({{ list.ingredients.length }} ingredients)</small>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('banned_ingredient_lists').hasError('required')">
                    Banned ingredient lists are required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-form-field class="flex-auto">
                <mat-label>Allowed ingredient lists</mat-label>
                <mat-select multiple="true" [formControlName]="'allowed_ingredient_lists'">
                    <mat-select-trigger>
                        <span *ngIf="form.get('allowed_ingredient_lists').valueChanges | async; let lists">
                            {{ lists.join(', ') }}
                        </span>
                    </mat-select-trigger>
                    <mat-option>
                        <ngx-mat-select-search
                                noEntriesFoundLabel="No matching lists found"
                                placeholderLabel="Type to search"
                                [clearSearchInput]="true"
                                [enableClearOnEscapePressed]="true"
                                [disableScrollToActiveOnOptionsChanged]="true"
                                [formControl]="searchIngredientsCtrl"
                        ></ngx-mat-select-search>
                    </mat-option>
                    <mat-option
                            *ngFor="let list of allowedIngredientLists$ | async; trackBy: trackByFn"
                            [value]="list.name"
                    >
                        {{list.name}} <small>({{ list.ingredients.length }} ingredients)</small>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('allowed_ingredient_lists').hasError('required')">
                    Allowed ingredient lists are required
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex">
            <mat-form-field class="flex-auto">
                <mat-label>Base ingredients</mat-label>
                <mat-select multiple="true" [formControlName]="'base_ingredients'">
                    <mat-select-trigger>
                        <div class="flex items-center overflow-x-auto">
                            <img
                                class="w-8 h-8 rounded"
                                [class.mr-1]="!last"
                                [matTooltip]="imageName"
                                *ngFor="let imageName of form.get('base_ingredients').value; let last = last"
                                [alt]="imageName"
                                [src]="'assets/images/ingredients/' + imageName + '.png'"
                            />
                        </div>
                    </mat-select-trigger>
                    <mat-option>
                        <ngx-mat-select-search
                                noEntriesFoundLabel="No matching lists found"
                                placeholderLabel="Type to search"
                                [clearSearchInput]="true"
                                [enableClearOnEscapePressed]="true"
                                [disableScrollToActiveOnOptionsChanged]="true"
                                [formControl]="searchIngredientsCtrl"
                        ></ngx-mat-select-search>
                    </mat-option>
                    <mat-option
                            *ngFor="let ingredient of filteredIngredients$ | async; trackBy: trackByFn"
                            [value]="ingredient.name"
                    >
                        <div class="flex items-center">
                            <img
                                class="w-8 h-8 rounded"
                                [src]="'assets/images/ingredients/' + ingredient.name + '.png'"
                                [alt]="ingredient.name"
                            />
                            <div class="flex flex-col ml-1">{{ ingredient.name }}</div>
                        </div>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('base_ingredients').hasError('required')">
                    Base ingredients are required
                </mat-error>
                <mat-error *ngIf="form.get('base_ingredients').hasError('maxlength')">
                    Maximum 5 base ingredients are allowed
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Actions -->
        <div class="mt-4 flex flex-col justify-end sm:mt-6 sm:flex-row items-center">
            <div class="mt-4 flex items-center sm:mt-0">
                <!-- Close -->
                <button type="button" class="sm:mx-3" mat-button [disabled]="form.disabled" (click)="close()">
                    <span>Close</span>
                </button>
                <!-- Save -->
                <button
                        type="submit"
                        class="order-first sm:order-last"
                        mat-flat-button
                        [disabled]="form.disabled"
                        [color]="'primary'"
                >
                    <span *ngIf="!form.disabled"> Generate </span>
                    <mat-progress-spinner
                            *ngIf="form.disabled"
                            [diameter]="24"
                            [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </div>
        </div>
    </form>
</div>
