<div class="relative flex min-w-0 flex-auto flex-col overflow-hidden">
  <div class="flex flex-auto flex-col px-6 py-10 sm:px-16 sm:pb-20 sm:pt-18">
    <div class="w-full max-w-3xl">
      <div class="text-4xl font-extrabold leading-none tracking-tight"> Recipe list activities</div>
      <div class="text-secondary mt-1.5 text-lg"> Recipe list wide activities are listed here as individual items,
        starting with the most recent.
      </div>
      @if (recipeListActivities$ | async; as activities) {
        <div class="mt-8">
          <ol>
            @for (activity of activities;
              track activity.id;
              let i = $index;
              let first = $first;
              let last = $last) {
              @if (
                first ||
                !isSameDay(activity.created_at, activities[i - 1].created_at)
              ) {
                <li class="relative flex py-7">
                  <div
                    class="relative rounded-full bg-primary px-8 py-2 text-md font-medium leading-5 text-on-primary"
                  >
                    {{ getRelativeFormat(activity.created_at) | titlecase }}
                  </div>
                </li>
              }

              <li class="relative flex py-7">
                @if (
                  !last &&
                  isSameDay(activity.created_at, activities[i + 1].created_at))
                {
                  <div
                    class="absolute left-5 top-7 -ml-px h-full w-0.5 bg-gray-300 dark:bg-gray-600"
                  ></div>
                }

                <div class="relative flex flex-auto">
                  <!-- Icon -->
                  @if (iconByLog(activity.log); as icon) {
                    <div
                      class="mr-4 flex h-10 w-10 shrink-0 items-center justify-center rounded-full bg-gray-400"
                      [class.bg-red-400]="activity.log['action'] === 'deleted-recipe' || (activity.log['action'] === 'marked' && activity.log['recipe']['status'] === RecipeStatus.Failed)"
                      [class.bg-green-400]="activity.log['action'] === 'marked' && activity.log['recipe']['status'] === RecipeStatus.Success"
                    >
                      <mat-icon class="text-white icon-size-5" [svgIcon]="icon"></mat-icon>
                    </div>
                  }
                  <div class="flex flex-auto flex-col items-start">
                    <div>
                      <strong>{{ activity.owner.login }}</strong>
                      @switch (activity.log['action']) {
                        @case ('created') {
                          {{ activity.log['action'] }} <strong>{{ activity.log['name'] }}</strong> recipe list
                        }
                        @case ('deleted-recipe') {
                          deleted the
                          <strong>
                            @if (activity.log['recipe']['name']) {
                              "{{ activity.log['recipe']['name'] }}"
                            } @else {
                              {{ activity.log['recipe']['status'] }}
                            }
                          </strong>
                          recipe
                        }
                        @case ('assigned') {
                          @if (activity.log['assigned_to']?.['id'] && activity.log['unassigned_from']?.['id']) {
                            reassigned recipe to check from
                            @if (activity.log['unassigned_from']['id'] === activity.owner.id) {
                              himself
                            } @else {
                              <strong>{{ activity.log['unassigned_from']['login'] }}</strong>
                            }
                            to
                            @if (activity.log['assigned_to']['id'] === activity.owner.id) {
                              himself
                            } @else {
                              <strong>{{ activity.log['assigned_to']['login'] }}</strong>
                            }
                          } @else if (!activity.log['assigned_to']?.['id']) {
                            unassigned recipe to check from
                            @if (activity.log['unassigned_from']['id'] === activity.owner.id) {
                              himself
                            } @else {
                              <strong>{{ activity.log['unassigned_from']['login'] }}</strong>
                            }
                          } @else if (activity.log['assigned_to']?.['id']) {
                            assigned recipe to check to
                            @if (activity.log['assigned_to']['id'] === activity.owner.id) {
                              himself
                            } @else {
                              <strong>{{ activity.log['assigned_to']['login'] }}</strong>
                            }
                          }
                        }
                        @case ('marked') {
                          {{ activity.log['action'] }} recipe to check as <strong>{{ activity.log['recipe']['status'] }}</strong>
                        }
                      }
                    </div>

                    <div
                      class="mt-2 flex flex-col text-md leading-5 sm:mt-1 sm:flex-row sm:items-center sm:space-x-2"
                    >
                      <!-- Date -->
                      <div class="text-secondary">
                        {{ activity.created_at | date: 'MMM dd, hh:mm' }}
                      </div>
                    </div>
                    <div class="mt-4 rounded-lg bg-gray-200 px-5 py-4 dark:bg-gray-800">
                      @if (activity.log['action'] === 'created') {
                        <div>
                          <span class="font-semibold">Base ingredients:</span>
                          <ng-container
                            *ngTemplateOutlet="ingredientList; context: { $implicit: activity.log['base_ingredients'] }"
                          ></ng-container>
                        </div>
                        <div class="mt-4">
                          <span class="font-semibold">Allowed ingredient lists:</span>
                          <div>
                            @for (allowedIngredientList of activity.log['allowed_ingredient_lists']; track allowedIngredientList.id; let last = $last) {
                              {{ allowedIngredientList.name }}{{ !last ? ', ' : '' }}
                            }
                          </div>
                        </div>
                        @if (activity.log['banned_ingredient_lists'].length) {
                          <div class="mt-4">
                            <span class="font-semibold">Banned ingredient lists:</span>
                            <div>
                              @for (allowedIngredientList of activity.log['banned_ingredient_lists']; track allowedIngredientList.id; let last = $last) {
                                {{ allowedIngredientList.name }}{{ !last ? ', ' : '' }}
                              }
                            </div>
                          </div>
                        }
                        @if (activity.log['skipped_ingredients']?.length) {
                          <div class="mt-4">
                            <span class="font-semibold">Skipped ingredients:</span>
                            @for (si of activity.log['skipped_ingredients']; track $index) {
                              <div class="flex justify-start mt-1">
                                <ng-container
                                  *ngTemplateOutlet="ingredientList; context: { $implicit: si['ingredients'] }"
                                ></ng-container>
                                <div class="mx-5"></div>
                                <ng-container
                                  *ngTemplateOutlet="ingredientList; context: { $implicit: si['recipe'] }"
                                ></ng-container>
                              </div>
                            }
                          </div>
                        }
                      } @else if (activity.log['action'] === 'assigned' || activity.log['action'] === 'unassigned') {
                        <span class="font-semibold">Recipe to check:</span>
                        <ng-container
                          *ngTemplateOutlet="ingredientList; context: { $implicit: activity.log['ingredients'] }"
                        ></ng-container>
                      } @else if (activity.log['action'] === 'marked' || activity.log['action'] === 'deleted-recipe') {
                        <div>
                          <span class="font-semibold">Checked recipe:</span>
                          <ng-container
                            *ngTemplateOutlet="ingredientList; context: { $implicit: activity.log['ingredients'] }"
                          ></ng-container>
                        </div>
                        <div class="mt-4">
                          <span class="font-semibold">
                            @if (activity.log['action'] === 'deleted-recipe') {
                              Deleted
                            } @else {
                              Created
                            }
                            @if (activity.log['recipe']['name']) {
                              "{{ activity.log['recipe']['name'] }}"
                            }
                            recipe:
                          </span>
                          <ng-container
                            *ngTemplateOutlet="ingredientList; context: { $implicit: activity.log['recipe']['ingredients'] }"
                          ></ng-container>
                        </div>
                      }
                    </div>
                  </div>
                </div>
              </li>
            }
          </ol>
        </div>
      }
    </div>
  </div>
</div>

<ng-template #ingredientList let-ingredients>
  <div class="flex justify-start mt-1">
    @for (ingredient of ingredients | sortBy: 'asc' : 'name'; track ingredient.id; let columnLast = $last) {
      <div [class.mr-2]="!columnLast" class="relative">
        @if (ingredient['count']) {
          <div
            class="absolute bottom-0 right-1 flex-0 -ml-0.5 outline-title text-md text-white"
          >
            {{ ingredient.count }}
          </div>
        }
        <img
          [ngSrc]="'images/ingredients/' + ingredient.image"
          [alt]="ingredient.name"
          [matTooltip]="ingredient.name"
          class="w-9 h-9 rounded object-cover ring-[2px]"
          [ngClass]="{
              'ring-legendary': ingredient.rarity === IngredientRarity.Legendary,
              'ring-common': ingredient.rarity === IngredientRarity.Common,
              'ring-uncommon': ingredient.rarity === IngredientRarity.Uncommon,
              'ring-epic': ingredient.rarity === IngredientRarity.Epic,
              'ring-rare': ingredient.rarity === IngredientRarity.Rare,
              'ring-ultra-rare': ingredient.rarity === IngredientRarity.UltraRare
          }"
          width="36"
          height="36"
        />
      </div>
    }
  </div>
</ng-template>
