<div class="-m-6 flex max-w-160 flex-col md:min-w-160">
    <!-- Header -->
    <div class="flex h-16 flex-0 items-center justify-between bg-primary pr-3 pl-6 text-on-primary sm:pr-5 sm:pl-8">
        <div class="text-lg font-medium">
            <ng-template [ngIf]="data.recipe">Update {{data.recipe.name}}</ng-template>
            <ng-template [ngIf]="!data.recipe">Create a new recipe</ng-template>
        </div>
        <button mat-icon-button matTooltip="Close" (click)="close()" [tabIndex]="-1" [disabled]="recipeForm.disabled">
            <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x-mark'"></mat-icon>
        </button>
    </div>

    <!-- Compose form -->
    <form class="flex flex-auto flex-col overflow-y-auto p-6 sm:p-8" (ngSubmit)="save()" [formGroup]="recipeForm">
        <div class="flex">
            <mat-form-field class="flex-auto w-1/2">
                <mat-label>Recipe image</mat-label>
                <mat-select [formControlName]="'name'">
                    <mat-select-trigger>
                        <div class="flex items-center" *ngIf="recipeForm.get('name').value; let imageName">
                            <img class="w-8 h-8 rounded" width="32" height="32" [alt]="imageName" [ngSrc]="'assets/images/ingredients/' + imageName + '.png'" />
                            <div class="flex flex-col ml-1">{{ imageName }}</div>
                        </div>
                    </mat-select-trigger>
                    <mat-option>
                        <ngx-mat-select-search
                            noEntriesFoundLabel="No matching ingredients found"
                            placeholderLabel="Search"
                            [clearSearchInput]="true"
                            [enableClearOnEscapePressed]="true"
                            [formControl]="searchIngredientsCtrl"
                        ></ngx-mat-select-search>
                    </mat-option>
                    <mat-option
                        *ngFor="let ingredient of ingredients$ | async; trackBy: trackByFn"
                        [value]="ingredient.name"
                    >
                        <div class="flex items-center">
                            <img
                                class="w-8 h-8 rounded"
                                height="32"
                                width="32"
                                [ngSrc]="'assets/images/ingredients/' + ingredient.name + '.png'"
                                [alt]="ingredient.name"
                            />
                            <div class="flex flex-col ml-1">{{ingredient.name}}</div>
                        </div>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="recipeForm.get('name').hasError('required')">
                    Recipe image is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ml-2 flex-auto sm:ml-4">
                <mat-label>Count from</mat-label>
                <input matInput type="number" min="1" [formControlName]="'count_from'" />
                <mat-error *ngIf="recipeForm.get('count_from').hasError('required')">
                    Count from is required
                </mat-error>
            </mat-form-field>
            <mat-form-field class="ml-2 flex-auto sm:ml-4">
                <mat-label>Count to</mat-label>
                <input matInput type="number" min="1" [formControlName]="'count_to'" />
                <mat-error *ngIf="recipeForm.get('count_to').hasError('required')"> Count to is required </mat-error>
                <mat-error *ngIf="recipeForm.get('count_to').hasError('greaterThanEqualTo')">
                    Must be greater or equal than from
                </mat-error>
            </mat-form-field>
        </div>

        <!-- Ingredients -->
        <div class="mt-1">
            <div class="space-y-2">
                <ng-container
                    formArrayName="ingredients"
                    *ngFor="let ingrCtrl of recipeForm.get('ingredients')['controls']; let i = index; let first = first; let last = last; trackBy: trackByFn"
                >
                    <div class="flex">
                        <mat-form-field class="flex-auto">
                            <mat-label *ngIf="first">Ingredient Image</mat-label>
                            <mat-select [formControl]="ingrCtrl.get('name')">
                                <mat-select-trigger>
                                    <div
                                        class="flex items-center"
                                        *ngIf="ingrCtrl.get('name').value; let imageName"
                                    >
                                        <img width="32" height="32" class="w-8 h-8 rounded" [alt]="imageName" [ngSrc]="'assets/images/ingredients/' + imageName + '.png'" />
                                        <div class="flex flex-col ml-1">{{ imageName }}</div>
                                    </div>
                                </mat-select-trigger>
                                <mat-option>
                                    <ngx-mat-select-search
                                        noEntriesFoundLabel="No matching ingredients found"
                                        placeholderLabel="Search"
                                        [clearSearchInput]="true"
                                        [enableClearOnEscapePressed]="true"
                                        [disableScrollToActiveOnOptionsChanged]="true"
                                        [formControl]="searchIngredientsCtrl"
                                    ></ngx-mat-select-search>
                                </mat-option>
                                <mat-option
                                    *ngFor="let ingredient of ingredients$ | async; trackBy: trackByFn"
                                    [value]="ingredient.name"
                                >
                                    <div class="flex items-center">
                                        <img
                                            class="w-8 h-8 rounded"
                                            height="32"
                                            width="32"
                                            [ngSrc]="'assets/images/ingredients/' + ingredient.name + '.png'"
                                            [alt]="ingredient.name"
                                        />
                                        <div class="flex flex-col ml-1">{{ingredient.name}}</div>
                                    </div>
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="ingrCtrl.get('name').hasError('required')">
                                Ingredient image {{ i + 1 }} is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field
                            class="fuse-mat-no-subscript ml-2 w-full max-w-24 flex-auto sm:ml-4 sm:max-w-40"
                        >
                            <mat-label *ngIf="first">Count</mat-label>
                            <input matInput type="number" min="1" max="100" [formControl]="ingrCtrl.get('count')" />
                            <mat-error *ngIf="ingrCtrl.get('count').hasError('required')">
                                Count is required
                            </mat-error>
                        </mat-form-field>
                        <!-- Remove ingredient -->
                        <ng-container *ngIf="ingredientsCtrl.length > 1">
                            <div class="flex w-10 items-center pl-2" [ngClass]="{'mt-6': first}">
                                <button
                                    type="button"
                                    class="h-8 min-h-8 w-8"
                                    mat-icon-button
                                    (click)="removeIngredientField(i)"
                                    matTooltip="Remove"
                                >
                                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:trash'"></mat-icon>
                                </button>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
            <div
                *ngIf="ingredientsCtrl.length < 6"
                class="group mt-2 -ml-4 inline-flex cursor-pointer items-center rounded py-2 px-4"
                (click)="addIngredientField()"
            >
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                <span class="text-secondary ml-2 font-medium group-hover:underline">Add ingredient</span>
            </div>
        </div>

        <!-- Actions -->
        <div class="mt-4 flex flex-col justify-between sm:mt-6 sm:flex-row items-center">
            <mat-form-field class="-ml-2 w-40">
                <mat-select (selectionChange)="onStatusChanged($event)" [formControlName]="'status'">
                    <mat-option *ngFor="let status of STATUSES" [value]="status"> {{ status }} </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="mt-4 flex items-center sm:mt-0">
                <!-- Close -->
                <button type="button" class="sm:mx-3" mat-button [disabled]="recipeForm.disabled" (click)="close()">
                    <span>Close</span>
                </button>
                <!-- Save -->
                <button
                    type="submit"
                    class="order-first sm:order-last"
                    mat-flat-button
                    [disabled]="recipeForm.disabled"
                    [color]="'primary'"
                >
                    <span *ngIf="!recipeForm.disabled"> Save </span>
                    <mat-progress-spinner
                        *ngIf="recipeForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"
                    ></mat-progress-spinner>
                </button>
            </div>
        </div>
    </form>
</div>
