<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <!-- Header -->
        <div
            class="flex items-center justify-between w-full"
        >
            <!-- Title -->
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">Ingredients</h2>
            </div>
            <!-- Actions -->
            <div class="flex items-center ml-6">
                <form class="flex flex-auto" [formGroup]="filters">
                    <!-- Search -->
                    <mat-form-field
                        [subscriptSizing]="'dynamic'"
                        class="fuse-mat-rounded fuse-mat-dense fuse-mat-no-subscript w-80 sm:ml-4"
                    >
                        <mat-icon matPrefix [svgIcon]="'heroicons_outline:magnifying-glass'"></mat-icon>
                        <input
                            matInput
                            [formControlName]="'search'"
                            [autocomplete]="'off'"
                            [placeholder]="'Search ingredients'"
                        />
                    </mat-form-field>
                </form>
            </div>
        </div>

        <!-- Main -->
        <div class="flex flex-auto overflow-hidden">
            <div class="flex flex-auto flex-col overflow-hidden sm:mb-18">
                <div class="overflow-x-auto sm:overflow-y-auto" cdkScrollable>
                    <div class="p-1 m-0 inline-block" *ngFor="let ingredient of ingredients; trackBy: trackByFn">
                        <img class="w-14 h-14 rounded object-cover" [src]="'assets/images/ingredients/' + ingredient.image_path" [alt]="ingredient.name">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
