<div class="flex flex-col flex-auto w-full">
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="flex items-center justify-between w-full">
            <div>
                <h2 class="text-3xl font-semibold tracking-tight leading-8">History and analytics</h2>
                <div class="font-medium tracking-tight text-secondary">Keep track of your searching recipe status</div>
            </div>
            <div class="flex items-center ml-6">
                <button class="bg-accent" mat-flat-button (click)="historyFile.click()" [color]="'accent'">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-down-tray'"></mat-icon>
                    <span class="ml-2">Import</span>
                    <input
                        id="history-file-input"
                        class="pointer-events-none invisible absolute h-0 w-0 opacity-0"
                        type="file"
                        [multiple]="false"
                        [accept]="'application/json,text/plain'"
                        (change)="importHistory(historyFile.files)"
                        #historyFile
                    />
                </button>

                <button
                    class="hidden sm:inline-flex ml-3"
                    mat-flat-button
                    (click)="exportHistory()"
                    [color]="'primary'"
                >
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:arrow-up-tray'"></mat-icon>
                    <span class="ml-2">Export</span>
                </button>
            </div>
        </div>

        <div class="flex-auto -mt-px pt-4 sm:pt-6">
            <div class="w-full max-w-screen-xl mx-auto">
                <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-6 w-full min-w-0">
                    <div
                            *ngFor="let stat of recipesStats$ | async"
                            class="flex flex-col flex-auto p-6 bg-card shadow rounded-2xl overflow-hidden">
                        <div class="flex flex-col items-center mt-2">
                            <div class="text-7xl sm:text-8xl font-bold tracking-tight leading-none"
                                 [ngClass]="{
                                    'text-green-500': stat.status === RecipeStatus.SUCCESS,
                                    'text-red-500': stat.status === RecipeStatus.FAILED,
                                    'text-amber-500': stat.status === RecipeStatus.UNFULFILLED
                                 }"
                            >{{ stat.count }}</div>
                            <div class="text-lg font-medium"
                                 [ngClass]="{
                                    'text-green-600 dark:text-green-500': stat.status === RecipeStatus.SUCCESS,
                                    'text-red-600 dark:text-red-500': stat.status === RecipeStatus.FAILED,
                                    'text-amber-600 dark:text-amber-500': stat.status === RecipeStatus.UNFULFILLED,
                                 }"
                            >{{ stat.status }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
